body {
    background: url("/Content/requests_back11.jpg") no-repeat center top fixed;
    background-size: cover;
    font-family: arial;
	color: #111419;
}



header {
	background-color: #ffff54;
	border-radius: 5px;
	box-shadow: 0px 5px 15px;
	margin: 20px 400px 20px 400px;
	height: 60px;
}

h1 {
	padding-top: 10px;
	text-align: center;
	font-size: 40px;
	float: 

}

h2 {
	text-align: center;
	font-size: 30px;
}

h3 {
	font-size: 25px;
	margin: 5px 0px 5px 0px;
}

.req {
	text-align: left;
	background-color: #ffff54;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 5px 15px;
	margin: 20px 40px 20px 40px;
	padding: 10px 10px 10px 10px;
	min-height: 30px;
	max-height: 500px;

}

p {
	font-size: 20px;
	font-weight: bold;
}

.but {
	width: 200px;
	height: 40px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 8px;
	font-size: 18px;
	border: 0px;
	border-radius: 10px;
	outline: 0 !important;
	background-color: #02ff80;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow background-color;
}

.but:hover {
	box-shadow: 0px 2px 8px;
	background-color: #ff05c8;
}

.but:active {
	box-shadow: inset 0px 0px 10px;
	background-color: #02ff80;
}

select {
	width: 400px;
	height: 20px;	
}

#hidproc {
	display: none;
}

#showreq {
	overflow: hidden;
	border: 0px;
	width: 100%;
	height: 85%;
}

#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: visible;
	padding: 16px;
	background-color: black;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow;
	z-index: 500;
}
	
#window{
	width: 80%;
	height: 80%;
	padding: 20px;
	background-color: #ffff54;
	margin: 50px auto;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	z-index: 600;
}

#req_title {
	float: left;
	margin-right: 50%;
	margin-left: 1%;
	font-size: 26px;
}

#close {
	text-align: right;
	width: 45px;
	border-radius: 10px;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow;
}

#close:hover {
	box-shadow: 0px 2px 10px;
}

#close:active {
	box-shadow: inset 0px 0px 10px;
}

#imgmove {
	text-align: right;
}

.quali {
	outline: 0 !important;
	border: 0px;
	border-radius: 5px;
	width: 60px;
	height: 25px;
	background-color: #00ff48;
	font-size: 20px;
	font-weight: bold;
}

.quali:hover {
	box-shadow: 0px 2px 8px;
}

.quali:focus {
	box-shadow: inset 0px 0px 5px;
}

.seasi {
	outline: 0 !important;
	border: 0px;
	border-radius: 5px;
	width: 85px;
	height: 25px;
	background-color: #00ff48;
	font-size: 20px;
	font-weight: bold;
}

.seasi:hover {
	box-shadow: 0px 2px 8px;
}

.seasi:focus {
	box-shadow: inset 0px 0px 5px;
}

.texti {
	outline: 0;
	border: 0px;
	padding-left: 5px;
	width: 200px;
	background: #00ff48; 
	font-size: 20px; 
	border-radius: 5px;	
}

.texti:hover {
	box-shadow: 0px 2px 8px;
}

.texti:focus {
	box-shadow: inset 0px 0px 5px;
}

.datei {
	outline: 0 !important;
	border: 0px;
	width: 180px;
	background-color: #00ff48; 
	padding-left: 5px;
	font-size: 20px;
	border-radius: 5px;
}

.datei:hover {
	box-shadow: 0px 2px 8px;
}

.datei:focus {
	box-shadow: inset 0px 0px 5px;
}

option {
	font-weight: bold;
}

a {
	position: fixed;
	right: 5%;
	top: 6%;
	z-index: 50;
}