body {
	font-style: arial;
	color: #111419;
}

table {
	border-spacing: 10px;
	width: 100%;
	border: 3px solid;
	border-radius: 10px;
}

td {
	text-align: center;
	font-size: 25px;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow;
}

td:hover {
	box-shadow: 0px 2px 5px;
}

tbody td {
	border: 1px dotted;
	border-radius: 5px;
}

thead td {
	background-color: rgba(118,118,229,0.8);
	border-radius: 10px;
	border-bottom: 2px solid;
	font-weight: bold;
}